h1 {
    color: blue;
    background-color: yellowgreen;
    text-decoration: wavy;
}

body{
    background-color: palevioletred;
}

button{
    color: white;
    background-color: black;
}

.aa{
    background-color: crimson;
}

#para{
    font-style: italic;
}

.newClass{
    background-color: greenyellow;
}

.a1{
    color: red;
}